<html data-wf-page="614b5096734824634c2f3d43" class="w-mod-ix">
    <body>
        <table class="banner-wrapper">
            <tr class="sub-banner">
                <table>
                    <tr>
                        <td class="main-column">
                            <div >
                                <!-- <div class="row">
                                    <h1>Take your Dummy Tickets Now !!</h1>
                                </div> -->
                                <div class="heading-align"><h1 class="heading-banner"><strong class="bold-text">Get your<br>Dummy Flight Ticket<br>at $5</strong></h1>
                        
                                    <!-- <a href="/buy_ticket" class="banner-price-button w-button">Buy Ticket</a> -->
                                   
                                </div>
                            </div>
                        </td>
                        <td class="main-column">
                            <div >
                                <!-- <div class="row">
                                    <h1>Take your Dummy Tickets Now !!</h1>
                                </div> -->
                                <tr>
                                    <div class="heading-align"><h1 class="heading-banner"><strong class="bold-text">Get your<br>Dummy Hotel Ticket<br>at $5</strong></h1>
                        
                                    </div>
                                </tr>
                               
                            </div>
                        </td>
                        <td class="main-column">
                            <div >
                                <!-- <div class="row">
                                    <h1>Take your Dummy Tickets Now !!</h1>
                                </div> -->
                                <div class="heading-align"><h1 class="heading-banner"><strong class="bold-text">Get your<br>Travel Insurance<br>at $5</strong></h1>
                        
                                    <!-- <a href="/buy_ticket" class="banner-price-button w-button">Buy Ticket</a> -->
                                  
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            <tr class="contact-tr">
                                <!-- <a href="/buy_ticket" class="banner-price-button w-button">Buy Ticket</a> -->
                                <h1 class="contact-heading">Connect with us in minutes !! Click below</h1>
                            </tr>
                            <tr class="contact-tr">
                                <div class="footer-column-div">
                                    <!-- <h2 class="footer-heading">Ring us up</h2> -->
                                    <ul role="list" class="w-list-unstyled">
                                        <li><a href=" https://bit.ly/3yrtcYJ" class="footer-link-b-900 "><span
                                                    class="material-icons whatsapp-heading">whatsapp</span>
                                                <span class="contact-details"> +974 55954599</span></a></li>
                                        <!-- <li><a href="https://api.whatsapp.com/send/?phone=97455954599&text=Hey%21+I%E2%80%99m+interested+in+Dummy+Hotel+and+Flight+Tickets&app_absent=0" class="footer-link-b-900"><span class="material-icons">whatsapp</span> <span class="contact-details"> +974 55954599</span></a></li> -->
                                        
                                    </ul>
                                </div>
                                <div class="footer-column-div">
                                    <!-- <h2 class="footer-heading">Ring us up</h2> -->
                                    <ul role="list" class="w-list-unstyled">
                                        <li><a href="https://bit.ly/3w3wjV7" class="footer-link-b-900"><span
                                                    class="material-icons whatsapp-heading">whatsapp</span>
                                                <span class="contact-details"> +91 8137986061</span></a></li>
                                        <!-- <li><a href="https://api.whatsapp.com/send/?phone=918137986061&text=Hey%21+I%E2%80%99m+interested+in+Dummy+Hotel+and+Flight+Tickets&app_absent=0" class="footer-link-b-900"><span class="material-icons">whatsapp</span> <span class="contact-details"> +91 8137986061</span></a></li> -->
                                    </ul>
                                </div>
                            </tr>
                        
                        </td>
                        
                   </tr>
                </table>
            </tr>

            <tr class="wcu-maindiv">
                <div class="ffb-id-151stt2r fg-col col-xs-12 col-md-12 fg-text-dark">
                <section class="ffb-id-rnlaorr section-heading fg-text-dark">
                    <p class="fg-text-dark ffb-paragraph-1">Why DUMMYTICKET.COM </p>
                    <h2 class="fg-text-dark ffb-h2-2">Reasons to choose us</h2>
                    <div class="divider fg-text-dark ffb-divider-3"></div>
                </section>
            </div>
            </tr>

            <tr class="wcu-maindiv">
                <td class="wcu-column">
                    <div id="wcu-1" data-w-id="ce793743-363b-37cf-5e77-c313a28d5bd4" class="wcu-div">
                        <h3 class="wcu-heading">Cheapest Price</h3>
                        <p class="wcu-para">We offer unbeatable price in the market, that starts from $5. Undoubtedly, we’re the one
                            who offer the dummy tickets at the best price in the market. Dummy-Tickets.com is your only answer while
                            looking for a best price dummy tickets.</p>
                    </div>
                    <div id="wcu-2" data-w-id="ce793743-363b-37cf-5e77-c313a28d5bd9" class="wcu-div">
                        <h3 class="wcu-heading">Live PNR</h3>
                        <p class="wcu-para">We provide the dummy ticket which comes with a Live PNR andthat live PNR can be verified
                            at Airline websites. Likewise, our hotel bookingsalso come with a booking no. which can be cross-checked
                            at the Hotel website orby mailing directly to the Hotel.</p>
                    </div>
                </td>
                <td class="wcu-column">
                    <div id="wcu-3" data-w-id="b336f74a-a0f8-3877-d6ad-4740c2099dd3" class="wcu-div">
                        <h3 class="wcu-heading">Urgent Delivery</h3>
                        <p class="wcu-para">Do you have a flight today evening or sooner and you want areturn dummy ticket in no
                            time? No need to worry, we offer urgent delivery ofour dummy tickets without any extra cost. We deliver
                            our dummy tickets within30 to 60 minutes.</p>
                    </div>
                    <div id="wcu-4" class="wcu-div">
                        <h3 class="wcu-heading">Real Dummy Ticket</h3>
                        <p class="wcu-para">There are several booking engines and travel agents who provide fake dummy tickets. How?
                            Those travel agents just provide an MS word-edited dummy ticket. Similarly, some booking engines create
                            dummy tickets from generators that are also invalid. We don't do any of these things, we offer a real
                            dummy ticket which an embassy asks for.</p>
                    </div>
                </td>
            </tr>
            
        </table>
    </body>
</html>


